$DOMAIN {
	log $PROJECT_NAME # Enable Caddy access logs (for goaccess)
    route  {
        header {
            Cache-Control "no-cache, must-revalidate, max-age=0, no-store, private"
        }
        file_server / {
            root /root/$PROJECT_NAME/public
        }
        redir /302 /
    }
}
